<body>
  <h1  class="text-center">Assignment</h1>
  <div class="text-center">
    <button id="example_query_1">Example Query 1</button>
    <button id="example_query_2">Example Query 2</button>
  </div>
  <div>
    <table class="table table-bordered table-hover table-responsive-sm">
      <thead id="query_table_header"></thead>
      <tbody id="query_table_body"></tbody>
    </table>
  </div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $(function() {

    $("#example_query_1").on("click", function(e){
      e.preventDefault();
      $.ajax({
        url: "{{url_for('assignment.example_query_1')}}",
        dataType: 'json',
        success: function(response){
          var cols = ["VIN", "Description", "Year", "Type", "Category"]
          createTable(response, cols)
        },
        error: function(jqXHR, status, error){
          alert(error)
        }
      });
    });

    $("#example_query_2").on("click", function(e){
      e.preventDefault();
      $.ajax({
        url: "{{url_for('assignment.example_query_2')}}",
        dataType: 'json',
        success: function(response){
          var cols = ["CustID", "Name", "Phone"]
          createTable(response, cols)
        },
        error: function(jqXHR, status, error){
          alert(error)
        }
      });
    });

    function createTable(rows, cols){
      // Empty table data
      $("#query_table_body").html("")

      // Create the Table Headers for the query
      var trHeader = $("<tr>");
      cols.forEach(col => {
        var th = $("<th>");
        th.text(col);
        trHeader.append(th);
      });
      $("#query_table_header").html(trHeader)

      // Create the rows in table
      rows.forEach(entity => {
        var tr = $("<tr>")
        entity.forEach(attr => {
          var td = $("<td>");
          td.text(attr);
          tr.append(td);
        })
        var temp = tr.html()
        $("#query_table_body").append(tr)
      })
    }

  });
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
  /* body{
    background-color: #404040;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
  }
  button{
    background-color: #eb7900;
    border-radius: 10px; 
  } */
</style>