<body>
  <h1>Assignment</h1>
  <div>
    <button id="query_1">Query 1</button>
    <button id="query_2">Query 2</button>
    <button id="query_3">Query 3</button>
  </div>
  <div id="query_output">
    <table class="table">
      <thead id="query_table_header"></thead>
      <tbody id="query_table_body">

      </tbody>
    </table>
  </div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $(function() {

    $("#query_1").on("click", function(e){
      e.preventDefault();
      $.ajax({
        url: "{{url_for('assignment.query_1')}}",
        dataType: 'json',
        success: function(response){
          $("#query_table_body").html("")
          var queryColumns = ["VIN", "Description", "Year", "Type", "Category"]
          var trHeader = $("<tr>")
          queryColumns.forEach(col => {
            var td = $("<td>");
            td.text(col);
            trHeader.append(td);
          })
          response.forEach(entity => {
            var tr = $("<tr>")
            entity.forEach(attr => {
              var td = $("<td>");
              td.text(attr);
              tr.append(td);
            })
            var temp = tr.html()
            $("#query_table_body").append(tr)
            $("#query_table_header").html(trHeader)
          })
        }
      })
    });
    $("#query_2").on("click", function(e){
      e.preventDefault();
    });
    $("#query_3").on("click", function(e){
      e.preventDefault();
    });

  });
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
  body{
    background-color: #404040;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
  }
  button{
    background-color: #eb7900;
    border-radius: 10px; 
  }
</style>